[alias]
	st = status
	cm = commit
	co = checkout
	b = branch
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	cp = cherry-pick
[color]
	ui = auto
[core]
	pager = less -FMRiX
[push]
	default = simple
[user]
	name = casshy
	email = casshy.git@gmail.com
